body {
  margin:auto;
  font-family: sans-serif;
}
html {
   scroll-behavior: smooth;
   background-color: #0D0016;
  }

#titre1 {
  background: #EFEFEF;
  text-align: center;
  padding: 10px;
}
#titre2{
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}
/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 80%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: purple;
    border-bottom: 2px solid purple;
}

.sous{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
    background-color: #10001C;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1800px;
}
#hautpage{
  display: block;
  width: 150px;
  height: 150px;
  float:right;
}
