body{
  background: #0D0016;
  margin:auto;
  font-family: sans-serif;
  text-decoration-color: white;
}

.box{
  width: 1400px;
  margin: 100px auto;
  background: #0D0016;
  border-radius: 7px;
}

.heading{
  background: purple;
  width: 1500px;
  margin: 100px auto;
  font-size: 38px;
  text-align: center;
  border-radius: 9px;
}



.faq{
  padding: 10px 20px;
}

.texte{
  font-size: 20px;
}
details{
  background : #f6f6f6;
  padding: 10px;
  border-radius: 7px;
  margin-top: 20px;
  font-size: 30px;
}

summary{
text-decoration: underline;
}



html{
  background-color: #10001C;
  scroll-behavior: smooth;
}

nav{
    font-family: sans-serif;
    width: 80%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    margin-bottom: 5rem;
    font-size: 22px;
    background-color: rgba(16,0,28,0.7);
}

nav ul{
    list-style-type: none;
}

nav ul li{
  margin-top: 7px;
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: #dd77ff;
    border-bottom: 2px solid purple;
}

.sous{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .sous{
    display: block;
    background-color: #10001C;

}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
}
.deroulant > a::after{
    content:" ▼";
    font-size: 16px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}

footer{
  display: grid;
  grid-template-columns: 3 1fr 1fr 1fr;
  margin-top: 150px;
  padding: 50px;
  background: purple;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.petit1{
  grid-column: 1;
  text-align: right;
}
.petit2{
  grid-column: 2;
}
.petit3{
  grid-column: 3;
  text-align: left;
}

.ifm{
  height: 100px;
  width: 100px;
  margin-bottom: 70px;
}
#hautpage{
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  height: 70px;
}
#faq{
  background: rgb(255,254,0);
  background: radial-gradient(circle, rgba(255,254,0,1) 0%, rgba(255,0,187,1) 40%, rgba(44,0,77,1) 88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
