body {
  background-color: #160126;
  background-size: cover;
  background-repeat: no-repeat;
  font-family:arial;
  width: 960px;
  margin:auto;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
/*BARRE DE NAVIGATION*/

#menu {

	text-align: center;
	padding:0;
  position: fixed;
}
#listenav {
  list-style-type: none;
  text-align: center;
}
li {
  display: inline-block;
  margin-left:1em;
}
h1 {
  text-decoration : underline;
  color : #A00FF2;
  text-align: center;
}
p {
  text-align: center;*
  color:#FFFFFF;
}
#icone {
  list-style-type: none;
  display:  inline-flex;
  font-size: 0px;
}
article {
	text-align: justify;
	border : 1px solid grey;
	padding : 1em;
}

img{
  width: 100px;
  height:100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-top: 50px;
  vertical-align: top;
}

a[href*="https://www.facebook.com/profile.php?id=100076190240946"] {
  background-image: url(https://cdn.pixabay.com/photo/2015/05/17/10/51/facebook-770688_960_720.png);
}
a[href*="https://www.instagram.com/?hl=fr"] {
  background-image: url(https://cdn.pixabay.com/photo/2016/09/17/07/03/instagram-1675670_960_720.png);
}
