html{
  background-color: #10001C;
  scroll-behavior: smooth;
}

nav{
    font-family: sans-serif;
    width: 80%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    margin-bottom: 70px;
    font-size: 22px;
    background-color: rgba(16,0,28,0.7);
}

nav ul{
    list-style-type: none;
}

nav ul li{
  margin-top: 7px;
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: #dd77ff;
    border-bottom: 2px solid purple;
}

.sous{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .sous{
    display: block;
    background-color: #10001C;

}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
}
.deroulant > a::after{
    content:" ▼";
    font-size: 16px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}

.pageacceuil {
  display: flex;
  margin-left: 100px;
}
.cyberlympia{
  background: rgb(255,254,0);
  background: radial-gradient(circle, rgba(255,254,0,1) 0%, rgba(255,0,187,1) 40%, rgba(44,0,77,1) 88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.texte{
  flex:1;
  font-size: 72px;
  background: rgb(213,6,255);
  background: radial-gradient(circle, rgba(213,6,255,1) 0%, rgba(255,0,123,1) 35%, rgba(255,231,19,1) 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
  font-size: 45px;
  padding-left: 150px;
  padding-top: 220px;
}

.img{
  float: right;
  flex:1;
  padding-right: 50px;
}




footer{
  display: grid;
  grid-template-columns: 3 1fr 1fr 1fr;
  margin-top: 150px;
  padding: 50px;
  background: purple;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.petit1{
  grid-column: 1;
  text-align: right;
}
.petit2{
  grid-column: 2;
}
.petit3{
  grid-column: 3;
  text-align: left;
}

.ifm{
  height: 100px;
  width: 100px;
  margin-bottom: 70px;
}



.bout .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 37rem;
}

.bout .ul .li {
    --c: rgb(255,0,209);
    color: var(--c);
    font-size: 25px;
    border: 0.2em solid var(--c);
    border-radius: 2em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

.bout .ul .li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.bout .ul .li:hover {
    color: #10001C;
}

.bout .ul .li:hover span {
    transform: translateY(0) scale(2);
}

.bout .ul .li span:nth-child(1) {
    --n: 1;
    background: rgb(255,0,209);
    background: linear-gradient(1deg, rgba(255,0,209,1) 0%, rgba(253,29,73,1) 55%, rgba(255,221,8,1) 100%);
}

.bout .ul .li span:nth-child(2) {
    --n: 2;
    background: rgb(255,0,209);
    background: linear-gradient(1deg, rgba(255,0,209,1) 0%, rgba(253,29,73,1) 55%, rgba(255,221,8,1) 100%);
}

.bout .ul .li span:nth-child(3) {
    --n: 3;
    background: rgb(255,0,209);
    background: linear-gradient(1deg, rgba(255,0,209,1) 0%, rgba(253,29,73,1) 55%, rgba(255,221,8,1) 100%);
}

.bout .ul .li span:nth-child(4) {
    --n: 4;
    background: rgb(255,0,209);
    background: linear-gradient(1deg, rgba(255,0,209,1) 0%, rgba(253,29,73,1) 55%, rgba(255,221,8,1) 100%);
}
